{% extends "layouts/main.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ govukPanel({
    titleText: "Case submitted",
    html: "Your reference number is<br><strong>" + c.id + "</strong>"
  }) }}

  <h2 class="govuk-heading-m">What happens next</h2>

  <p class="govuk-body">
    The case has been submitted for review.
  </p>

  <p class="govuk-body">
    A reviewer will either approve the case or return it with comments.
  </p>

  <div class="govuk-button-group">
    {{ govukButton({
      text: "View case",
      href: "/cases/" + c.id
    }) }}

    {{ govukButton({
      text: "Back to cases",
      href: "/",
      classes: "govuk-button--secondary"
    }) }}
  </div>
{% endblock %}